.hadder{
    display: flex;
    margin-top: 60px;
    margin-left: 80px;
}
.learn{
    color: black;
}
.padd{
  height: 90px;
  width: 90px;
}
.languages{
    /* box-sizing: content-box;
    background-color: transparent;
    border: 8px solid rgb(136, 255, 0);
    border-radius: 20px;
    text-align: center;
    position: relative; */
    transform: translate(90%, -307%);
    /* filter: drop-shadow(-12px 15px 13px rgb(3, 245, 96)); */
    /* box-shadow:  0 0 5px #f44703, 0 0 15px #f46303, 0 0 25px #f45b03, 0 0 100px #03f47b; */
}
.skill{
    /* box-sizing: content-box;
    background-color: transparent;
    border: 8px solid rgb(17, 0, 255);
    border-radius: 20px;
    text-align: center;
    position: relative; */
    transform: translate(-35%, -50%);
    /* filter: drop-shadow(-12px 15px 13px rgb(76, 3, 245));
    box-shadow:  0 0 5px #f44703, 0 0 15px #f46303, 0 0 25px #f45b03, 0 0 100px #03d0f4; */
}
.tool{
    /* box-sizing: content-box;
    background: transparent;
    border: 8px solid rgb(0, 140, 255);
    border-radius: 20px;
    text-align: center;
    position: relative; */
    transform: translate(77%, -127%);
    /* filter: drop-shadow(-12px 15px 13px rgb(3, 176, 245)); */
    /* box-shadow:  0 0 5px #f44703, 0 0 15px #f46303, 0 0 25px #f45b03, 0 0 100px #03f423; */
}
.design{
    /* box-sizing: content-box;
    background-color: transparent;
    border: 8px solid rgb(247, 0, 255);
    border-radius: 20px;
    text-align: center;
    position: relative; */
    transform: translate(0%, -40%);
    /* filter: drop-shadow(-12px 15px 13px rgb(245, 3, 144)); */
    /* box-shadow:  0 0 5px #f44703, 0 0 15px #f46303, 0 0 25px #f45b03, 0 0 100px #4b03f4; */
}
.pad{
    text-align: center;
    height: 50px;
    width: 50px;
}
.underline{
    text-decoration: underline;
}
.size{
    font-size: 70px;
    font-weight: 800;
}
.size2{
    font-size: 70px;
    font-weight: 800;
    color: #f45b03;
    filter: drop-shadow(-12px 15px 13px rgb(245, 140, 3));
}
.btn2{
    margin-top: 60px;
    margin-left: 40px;
}
.Emoji{
    height: 300px;
    width: 300px;
    margin-top: 25px;
    filter: drop-shadow(-12px 15px 13px rgb(46, 51, 2));
}
.moreinfopara{
    margin: 10px;
    text-align: center;
}
.hadding{
    transform: translateY(30px);
}
.more-info{
    height: 800px;
}
.svg{
  height: 20px;
  width: 20px;
  border-radius:10px ;
}
.parent {
    width: 290px;
    height: 300px;
  }
  
  .card {
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(0, 255, 214) 0%, rgb(8, 226, 96) 100%);
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
  }
  
  .glass {
    transform-style: preserve-3d;
    position: absolute;
    inset: 10px;
    border-radius: 55px;
    border-top-right-radius: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.349) 0%, rgba(255, 255, 255, 0.815) 100%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transform: translate3d(0px, 0px, 25px);
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transition: all 0.6s ease-in-out;
  }
  
  .content {
    padding: 100px 60px 0px 30px;
    transform: translate3d(0, 0, 26px);
  }
  
  .content .title {
    display: block;
    color: #00894d;
    font-weight: 900;
    font-size: 20px;
  }
  
  .content .text {
    display: block;
    color: rgba(0, 137, 78, 0.7647058824);
    font-size: 15px;
    margin-top: 20px;
  }
  
  .bottom {
    padding: 10px 12px;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate3d(0, 0, 26px);
  }
  
  .bottom .view-more {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    transition: all 0.2s ease-in-out;
  }
  
  .bottom .view-more:hover {
    transform: translate3d(0, 0, 10px);
  }
  
  .bottom .view-more .view-more-button {
    background: none;
    border: none;
    color: #00c37b;
    font-weight: bolder;
    font-size: 12px;
  }
  
  .bottom .view-more .img {
    fill: none;
    stroke: #00c37b;
    stroke-width: 3px;
    max-height: 15px;
  }
  
  .bottom .social-buttons-container {
    display: flex;
    gap: 10px;
    transform-style: preserve-3d;
  }
  
  .bottom .social-buttons-container .social-button {
    width: 30px;
    aspect-ratio: 1;
    padding: 5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
  }
  
  .bottom .social-buttons-container .social-button:first-child {
    transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
  }
  
  .bottom .social-buttons-container .social-button:nth-child(2) {
    transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
  }
  
  .bottom .social-buttons-container .social-button:nth-child(3) {
    transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
  }
  
  .bottom .social-buttons-container .social-button .img {
    width: 15px;
    fill: #00894d;
  }
  
  .bottom .social-buttons-container .social-button:hover {
    background: black;
  }
  
  .bottom .social-buttons-container .social-button:hover .img {
    fill: white;
  }
  
  .bottom .social-buttons-container .social-button:active {
    background: rgb(255, 234, 0);
  }
  
  .bottom .social-buttons-container .social-button:active .img {
    fill: black;
  }
  
  .logo {
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
  }
  
  .logo .circle {
    display: block;
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 0;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 249, 203, 0.2);
    transition: all 0.5s ease-in-out;
  }
  
  .logo .circle1 {
    width: 170px;
    transform: translate3d(0, 0, 20px);
    top: 8px;
    right: 8px;
  }
  
  .logo .circle2 {
    width: 140px;
    transform: translate3d(0, 0, 40px);
    top: 10px;
    right: 10px;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    transition-delay: 0.4s;
  }
  
  .logo .circle3 {
    width: 110px;
    transform: translate3d(0, 0, 60px);
    top: 17px;
    right: 17px;
    transition-delay: 0.8s;
  }
  
  .logo .circle4 {
    width: 80px;
    transform: translate3d(0, 0, 80px);
    top: 23px;
    right: 23px;
    transition-delay: 1.2s;
  }
  
  .logo .circle5 {
    width: 50px;
    transform: translate3d(0, 0, 100px);
    top: 30px;
    right: 30px;
    display: grid;
    place-content: center;
    transition-delay: 1.6s;
  }
  
  .logo .circle5 .img {
    width: 20px;
    fill: white;
  }
  
  .parent:hover .card {
    transform: rotate3d(1, 1, 0, 30deg);
    box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
  }
  
  .parent:hover .card .bottom .social-buttons-container .social-button {
    transform: translate3d(0, 0, 50px);
    box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
  }
  
  .parent:hover .card .logo .circle2 {
    transform: translate3d(0, 0, 60px);
  }
  
  .parent:hover .card .logo .circle3 {
    transform: translate3d(0, 0, 80px);
  }
  
  .parent:hover .card .logo .circle4 {
    transform: translate3d(0, 0, 100px);
  }
  
  .parent:hover .card .logo .circle5 {
    transform: translate3d(0, 0, 120px);
  }
 /* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
 .e-card {
    margin: 100px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 240px;
    height: 330px;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  /* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
  .card1 {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: #fffffe;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
  }
  
  .card1::before {
    content: "";
    width: 350px;
    height: 100px;
    position: absolute;
    top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 3px solid #fefefe;
    background: linear-gradient(40deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    transition: all 0.5s ease;
  }
  
  .card1 * {
    z-index: 1;
  }
  
  .image1 {
    width: 90px;
    height: 90px;
    background-color: #1468BF;
    border-radius: 50%;
    border: 4px solid #fefefe;
    margin-top: 30px;
    transition: all 0.5s ease;
  }
  
  .card-info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: all 0.5s ease;
  }
  
  .card-info1 span {
    font-weight: 600;
    font-size: 24px;
    color: #161A42;
    margin-top: 15px;
    line-height: 5px;
  }
  
  .card-info1 p {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .button1 {
    text-decoration: none;
    background-color: #1468BF;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid white;
    transition: all 0.5s ease;
  }
  
  .card1:hover::before {
    width: 350px;
    height: 300px;
    border-bottom: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: scale(0.95);
  }
  
  .card1:hover .card-info1 {
    transform: translate(0%,-25%);
  }
  
  .card1:hover .image1 {
    transform: scale(2) translate(-60%,-40%);
  }
  
  .button1:hover {
    background-color: #FF6844;
    transform: scale(1.1);
  }
  /* hhhhhhhhhhhhhhhhhhhhhhhhhhh */
  .card3 {
    height: 254px;
    width: 350px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    box-shadow: 0 0 20px 8px #d0d0d0;
    overflow: hidden;
  }
  
   /*Image*/
  .card-image3 {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #0a3394;
    background: linear-gradient(to top, #0a3394, #4286f4);
  }
  
  /*Description */
  .card-description3 {
    display: flex;
    position: absolute;
    gap: .5em;
    flex-direction: column;
    background-color: #f5f5f5;
    color: #212121;
    height: 70%;
    bottom: 0;
    border-radius: 16px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
  }
  
  /*Text*/
  .text-title3 {
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .text-body3 {
    font-size: 1rem;
    line-height: 130%;
  }
  
  
  /* Hover states */
  .card3:hover .card-description3 {
    transform: translateY(100%);
  }
  
  